p {
  font-size: 16px;
  color: rgba(50, 50, 50, 0.8);
}

body {
  background-color: #91BEEF;
  font-family: 'Karla', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #0075FF;
  font-weight: bold;
}

.cover {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #91BEEF;
  text-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
}

.cover img {
  margin-top: -70px;
}

.icons {
  display: flex;
}

.icons a {
  color: #91BEEF;
  transition: 0.1s;
  text-decoration: none;
}

.icon a:hover {
  text-decoration: none;
}

.icon a:hover i {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}

.icon a {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 25px;
  margin-bottom: 5px;
  transition: 0.2s;
}

.icon span {
  font-size: 12px;
  font-weight: bold
}

.name {
  width: 500px;
}

@media (max-width: 600px) {
  .name {
    max-width: 90vw;
  }
}

.face {
  width: 100%;
  box-shadow: -1px 1px 0px #0075FF,
              -2px 2px 0px #0075FF,
              -3px 3px 0px #0075FF,
              -4px 4px 0px #0075FF,
              -5px 5px 0px #0075FF,
              -6px 6px 0px #0075FF,
              -7px 7px 0px #0075FF,
              -8px 8px 0px #0075FF,
              -9px 9px 0px #0075FF;
  border-radius: 0px;
}

.face-space {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
;}

#bio {
  height: 100%;
  display: flex;
  align-items: flex-end;

}

@media (max-width: 767px) {
  #bio {
    margin-top: 20px;
  }
}




