p {
  font-size: 16px;
  color: rgba(50, 50, 50, 0.8);
}

body {
  background-color: #91BEEF;
  font-family: 'Karla', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: white;
  font-weight: bold;
  text-shadow: -1px 1px 0px #0075FF,
              -2px 2px 0px #0075FF,
              -3px 3px 0px #0075FF;
}

.cover {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/face.jpg");
  background-size: cover;
  background-position: 44% 30%;
  background-attachment: fixed;
  color: #91BEEF;
  text-shadow: -3px 4px 6px rgba(0, 0, 0, 0.2);
}

#listen {
  background-image: url("images/cool-background.svg");
  background-size: cover;
  background-color: #C7E1F3;
}

.cover img {
  margin-top: -70px;
}

.icons {
  display: flex;
}

.icon {
  margin: 0 0.5rem;
}

.icons a {
  color: rgba(255, 255, 255, 0.9);
  transition: 0.1s;
  text-decoration: none;
  text-shadow: -3px 4px 6px rgba(0, 0, 0, 0.2);
}

.icon a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.icon a:hover i {
  text-shadow: -1px 1px 0px rgba(50, 50, 50, 0.7),
              -2px 2px 0px rgba(50, 50, 50, 0.7);
  transition: 0.2s;
}

.icon a {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 30px;
  margin-bottom: 5px;
  transition: 0.2s;
}

.icon span {
  font-size: 18px;
  font-weight: bold
}

.name {
  width: 500px;
}

@media (max-width: 600px) {
  .name {
    max-width: 90vw;
  }
}

.face {
  width: 100%;
  box-shadow: -1px 1px 0px #0075FF,
              -2px 2px 0px #0075FF,
              -3px 3px 0px #0075FF,
              -4px 4px 0px #0075FF,
              -5px 5px 0px #0075FF,
              -6px 6px 0px #0075FF,
              -7px 7px 0px #0075FF,
              -8px 8px 0px #0075FF,
              -9px 9px 0px #0075FF;
  border-radius: 0px;
}

.face-space {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
;}

#bio {
  height: 100%;
  display: flex;
  align-items: flex-end;

}

@media (max-width: 767px) {
  #bio {
    margin-top: 20px;
  }
}

.links {
  text-align: right;
}

.links i {
    color: white;
    text-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
    margin-right: 5px;
    transition: 0.1s;
  }

.links a {
  color: rgba(50, 50, 50, 0.8);
}

.links a:hover i {
  text-shadow: -1px 1px 8px rgba(50, 50, 50, 0.7);
  transition: 0.1s;
}

.links p {
  margin-bottom: 5px;
}

iframe {
  box-shadow: -1px 1px 0px #0075FF,
              -2px 2px 0px #0075FF,
              -3px 3px 0px #0075FF,
              -4px 4px 0px #0075FF,
              -5px 5px 0px #0075FF,
              -6px 6px 0px #0075FF,
              -7px 7px 0px #0075FF,
              -8px 8px 0px #0075FF,
              -9px 9px 0px #0075FF;
}

