p {
  font-size: 16px;
  color: rgba(50, 50, 50, 0.8);
}

body {
  background-color: #91BEEF;
  font-family: 'Karla', sans-serif;
}

html {
scroll-behavior: smooth;
}
h1 {
  color: #0075FF;
  font-weight: bold;
}

.cover {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #91BEEF;
  text-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
}

.icons {
  display: flex;
}

.icons a {
  color: #91BEEF;
  transition: 0.1s;
  text-decoration: none;
}

.icon a:hover {
  text-decoration: none;
}

.icon a:hover i {
  color: #0075FF;
  transition: 0.2s;
}

.icon a {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 25px;
  margin-bottom: 5px;
  transition: 0.2s;
}

.icon span {
  font-size: 12px;
  font-weight: bold
}

.name {
  width: 500px;
}

@media (max-width: 600px) {
  .name {
    width: 300px;
  }
}

.face {
  width: 100%;
  box-shadow: -2px 4px 20px rgba(50, 50, 50, 0.4);
  border-radius: 3px;
}

.face-space {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
;}

#bio {
  height: 100%;
  display: flex;
  align-items: flex-end;

}

@media (max-width: 767px) {
  #bio {
    margin-top: 20px;
  }
}




